Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.sub
configure
debian/Makefile.in
depcomp
install-sh
ltmain.sh
missing
INSTALL
Makefile.in
Makefile
config.status
config.log
*.o
*.lo
.deps/
*.la
.libs/
libtool
stamp-h1
tests/python/runtest.sh
zorp-config
zorp/zorp
zorpblgen/zorpblgen
zorpconfig.h
zorpctl/zorpctl
